.alldms-seleteduserstag {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding-right: 3px;
  margin-right: 8px;
  margin-bottom: 5px;
  background: #e1fdf4;
}

.alldms-seleteduserstag .user-picture {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.alldms-seleteduserstag p {
  margin: 0 8px;
  font-weight: 500;
}

.alldms-seleteduserstag .remove-selecteduser-btn {
  cursor: pointer;
  border-radius: 3px;
  align-self: center;
  align-content: center;
  height: 30px;
  width: 18px;
  /* spadding: 3px; */
}

.alldms-seleteduserstag .remove-selecteduser-btn:hover {
  background: rgb(172, 241, 219);
}
