.sidebar-container {
    position: absolute;
    left: 0;
    background-color: purple;
    width:25%;
    height:100vh;
}

.chatbox-container {
    display: flex;
    flex-direction: row;
    padding: 10px, 0px;
}

.chatbox-photo {
    align-self: center;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 2vw;
}

.chatbox-container:hover, .chatbox-container:active {
    background-color: rgb(10, 120, 184);
}

